[project]
	description = Scripts for kvm provisioning
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Felip Moll (lipixx)
[access "refs/for/refs/*"]
	read = group user/Felip Moll (lipixx)
	push = group user/Felip Moll (lipixx)
	label-Code-Review = -2..+2 group user/Felip Moll (lipixx)
	label-Verified = -1..+1 group user/Felip Moll (lipixx)
	rebase = group user/Felip Moll (lipixx)
	removeReviewer = group user/Felip Moll (lipixx)
	submit = group user/Felip Moll (lipixx)
[access "refs/heads/*"]
	read = group user/Felip Moll (lipixx)
	create = group user/Felip Moll (lipixx)
	push = +force group user/Felip Moll (lipixx)
	pushMerge = group user/Felip Moll (lipixx)
[access "refs/tags/*"]
	push = group user/Felip Moll (lipixx)
	push = +force group user/Felip Moll (lipixx)
